@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css');
@import "~angular-material/angular-material";

* {
  user-select: none;
}

md-checkbox {
  display: block;
}

md-select {
  margin: 5px 0;
}

fieldset md-input-container {
  margin: 0;
}

fieldset {
  margin-top: 15px;
  padding-top: 15px;
}

div.bordered {
  border: 1px solid;
}

span > md-select {
  display: inline-block;
}

.form-wrapper {
  background: #fff;
  padding: 16px;

  .form-title {
    &, .md-button {
      font-size: 23px;
    }

    padding: 4px 0 8px 14px;
  }
}

.close-icon {
  font-size: 20px;
}

[disabled] {
  opacity: 0.6;
  pointer-events: none;

  [disabled] {
    opacity: 1;
  }
}

#output {
  font-family: 'Hack', monospace;
  min-height: 96px;
  line-height: 2em;
  padding: 32px;
  > span {
    user-select: text;
  }
}

#fork-banner {
  > img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
}

.left-panel {
  > div {
    min-height: 40px;
  }

  md-input-container {
    margin-bottom: 0;
  }
}

.drop-down {
  margin: 18px 0;

  .md-button.md-icon-button {
    margin: 0;
    padding: 8px 4px 8px 4px;
  }

  span.btn:after {
    color: rgba(0, 0, 0, 0.54);
    display: block;
    content: '\25BC';
    position: relative;
    top: 2px;
    font-size: 13px;
    transform: scaleY(0.5) scaleX(1);
  }
}

#settings {
  md-dialog-content {
    min-width: 400px;
  }
}

div[ng-message] {
  padding-bottom: 1px;
}
